ol.list {
    list-style-type: none;
    margin: 0;
    margin-left: 3em;
    padding: 0;  
    counter-reset: li-counter;
}
ol.list > li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 0.5em;
    min-height: 1.5em;
    border-left: 2px solid #CCCCCC;
}

ol.list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 1.5em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;

    content: counter(li-counter);
    counter-increment: li-counter;
}


.h1 {
    color: #007f7f;
}

#navbar a
{
    color: #009f9f;
}

.fixed-height
{
    min-height: 600px;
}


#footer
{
    background-color: white;
    width: 100%;
    height: 120px;
    margin-top: 100px;
    padding-top: 20px;
    text-align: center;
    font-size: 8pt;
}

#footer ul
{
    list-style-type: none;
    display: inline-block;
    margin: 0px 60px 0px 60px;
}

#footer ul a
{
    color: #007f7f;
}

.loginBox {
    margin-bottom: 10px;    
}

.view1container {
    width: 100%; 
    height: 40px; 
    margin: 3px;
}

.post {
    width: 1%; 
    height: 40px; 
    float: left;   
}

.post span {
    line-height: 2.8;
}

.vote {
    width: 2%; 
    height: 40px; 
    float: left;
}

.voted {
    background-color: green;
}

.title {
    width: 96.5%; 
    height: 23px; 
    background-color: #efefef; 
    float: left; 
    padding-left: 0.5%;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.title span {
    overflow: hidden;
}

.title a {
    color: #aaa;
    font-size: 13px;
    font-weight: lighter;
}

.mainTextColor {
    color: #007f7f;
}



.mainTextColor a {
    color: #007f7f;
}

.createPostTitle {
    font-size: 16px;
    font-weight: normal;
}

.createPostTitleBig {
    font-size: 20px;
    font-weight: normal;
}

.stats {
    width: 96.5%; 
    height: 17px; 
    background-color: #efefef; 
    float: left; 
    font-size: 8pt; 
    padding-left: 0.5%;
}




/*          VIEW7          */

.view7PostContainer {
    width: 100%;  
    height: 200px; 
    background-color: #eee;
}

.postKarma {
    width: 9%; 
    height: 200px; 
    float: left; 
    text-align: center; 
    line-height: 3; 
    background-color: #f9f9f9; 
    margin-right: 1%;
}

.postKarma a {
    font-size: 28px;
}


.postKarma a:focus {
    background-color: green;
}

.postTitle {
    width: 90%; 
    float: left; 
    font-weight: 500; 
    font-size: 12pt;
}

.postTimestamp { 
    width: 90%; 
    float: left; 
    font-weight: 300; 
    font-size: 8pt;
}

.postTimestamp a {
    color: #007f7f;
    cursor: pointer;
}

.postMsg {
    width: 90%; 
    float: left; 
    margin-top: 20px;
}

.commentTimestamp {
    font-weight: 300; 
    font-size: 8pt;

}
.commentKarma {
    font-weight: 300; 
    font-size: 8pt;
}
.view7container {
    width: 100%; 
    min-height: 120px; 
    padding: 3px;
    margin-top: 7px;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #efefef;
    padding-bottom: 10px;
}

.view7-container {
    width: 100%; 
    min-height: 120px; 
    margin-top: 7px;
    overflow: hidden;
    word-wrap: break-word;
    background-color: #efefef;
    padding-bottom: 10px;
}

.commentText {
    width: 96.5%;
    min-height: 70px;
    background-color: #efefef;
    float: left;
    margin: 10px 0px 0px 0px;
}

.postText {
    width: 87%;
    min-height: 70px;
    background-color: #efefef;
    float: left;
    margin: 10px 10px 0px 0px;
}
.post-container {
}

.commentary span {
    line-height: 1.4;
}

.view7vote {
    width: 2%; 
    height: 100px; 
    float: left;
}

.author {
    width: 96.5%; 
    height: 20px; 
    float: left; 
    padding-left: 0.5%;
    font-size: 10pt;
    font-weight: 500;
}

.author span {
    overflow: hidden;
}

.author a {
    color: #007f7f;
    cursor: pointer;
}

.view7stats {
    width: 96.5%; 
    height: 17px; 
    background-color: #efefef; 
    float: left; 
    font-size: 8pt; 
    padding-left: 0.5%;
}

.view7stats span {

}

.view7stats a {

}
.reply {
    width: 96.5%; 
    height: 40px; 
    float: left; 

}



