
<br>
<br>

<div class="view7-container" >
    <!--
        THE POST SECTION
    -->
    <div class="postKarma">
        <a ng-show="isAuthenticated" href="" ng-click='upvote(post)'><div class="glyphicon glyphicon-triangle-top"></div></a>
        <div>{{post.post_karma}}</div>
        <a ng-show="isAuthenticated" href="" ng-click='downvote(post)'><div class="glyphicon glyphicon-triangle-bottom"></div></a>
    </div>
    <div class="postTitle">
        <span>{{post.post_title}}</span>
    </div>
    <div class="postTimestamp">
        <span>{{post.timeStamp}} by <a ng-click="viewAuthor(post)" >{{post.username}}</a></span>
    </div>
    <div class="postText">
        <span>{{post.post_text}}</span>
    </div>
</div>
<hr>
    <!--
        ADD NEW COMMENT TO POST
    -->
<div ng-show="isAuthenticated" class="container">
    <div class="col-md-5">
        <div class="form-area">
            <form name="commentForm" role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="postText" ng-model="post_text" placeholder="Write a new comment..."></textarea>
                </div>
                <button type="button" id="submit" name="submit" ng-click="submitComment()" class="btn btn-primary">Submit comment</button>
            </form>
        </div>
    </div>
</div>


    <!--
        THE LIST OF COMMENTS TO THE POST
    -->
    <h1 class="h1">Comments</h1>
<div class="view7container" ng-repeat="comment in comments| orderBy: '-post_karma'">

    <div class="view7vote">
        <a ng-show="isAuthenticated" href="" ng-click='upvote(comment)' class="glyphicon glyphicon-arrow-up" title="Upvote"></a>
        <a ng-show="isAuthenticated" href="" ng-click='downvote(comment)' class="glyphicon glyphicon-arrow-down" title="Downvote"></a>
    </div>

    <div class="author">
        <a title="Hide comment">&#10005;</a>&nbsp
        <a ng-click="viewAuthor(comment)" >{{comment.username}}</a>
        //
        <span class="commentKarma"> <b> {{comment.post_karma}} points </b> </span>
        //
        <span class="commentTimestamp">{{comment.timeStamp}}</span>

    </div>

    <div class="commentText">
        <span class="">
            {{comment.post_text}}
        </span>
    </div>

</div>
